body{
    text-align: center;
    font-size: 25px;
}
p{
    text-align: center;
    font-size: 30px;
    color: #4b6ebd;
}
a#back {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    background-color: #0c2e8d;
    color: white; /* Цвет текста */
}