TABLE {
    background: #acb3ef; /* Цвет фона нечетных строк */
    border: 1px solid white; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    margin-left: auto;
    margin-right: auto;
    width: 840px;
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячейки */
}
TD {
    text-align: left; /* Выравнивание по центру */
    border-bottom: 1px solid white; /* Линия внизу ячейки */
}
TH {
    background: #2a62ec; /* Цвет фона */
    color: white; /* Цвет текста */
}
TR.even {
    background: #8082c6; /* Цвет фона четных строк */
}
