table.createTopicAndTest {
    position: relative;
    left: 60%;
    top: 150px;
}

.myRow {
    padding: 10px;
    font-size: 20px;
    border-width: 5px;
    border-color: #6d7aa6;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .100);
}

.myCreateTopicAndTestButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myCreateTopicAndTestButton:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.myCreateTopicAndTestButton.toHomePage{
    position: relative;
    left: 60%;
    top: 160px;
}